{% extends 'funnytimes/common.html' %}

{% block title %} Search {% endblock %}

{% block body %}
{% load static %}

<br>
<h1 class="alert alert-success text-center">Showing results of "{{ query }}"</h1>


{% if products|length < 1 %} 
<div class="container my-2">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'funnytimes/error.png' %}" class="img-fluid carimg" style="width:100%; height: 100%; object-fit: contain;">
        </div>
        <div class="col-md-6 my-2">
            <h3>No search results found...</h3>

            <div class="result" style="font-size: large; font-weight: 500;">
                Your search query : <b>{{query}}</b> did not match any documents. <br>
                Suggestions:
                <ul>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li>Try more general keywords.</li>
                    <li> Try fewer keywords.</li>
                    <li> Try different keywords.</li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    <div class="container m-8 text-center">
        <div class="row align-center m-0">
            {% for i in products %}
            <div class="col-md-4 p-2">
                <div class="cardd">
                    <a href="productview/{{i.product_id}}"><img src="/media/{{i.image}}" class="cardd-img-top" " style="
                            width: 100%;height: 400px; object-fit: contain;" alt="..."></a>
                    <div class="cardd-body p-1 mt-1" style="background-color: rgb(235, 214, 214);">
                        <a href="productview/{{i.product_id}}">
                            <h5 class="cardd-title" id="namepr{{i.product_id}}">{{i.product_name}}</h5>
                        </a>
                        <p class="cardd-text">
                            {% load custom_tags %}
                            {% for x in i.description|split:';'|slice:':2' %}
                        <p style="color: green; font-weight: 600;">{{x}}</p>
                        {% endfor %}


                        </p>
                        <p class="text text-success fw-bold"> Price : Rs <span
                                id="pricepr{{i.product_id}}">{{i.prod_price}}</span></p>
                        <span id="qtypr{{i.product_id}}" class="qtybutton">
                            <button id="pr{{i.product_id}}" class="btn btn-primary cart">Add to Cart</button>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}

    {% block js %}
    <script>
        // Cart loading
        if (localStorage.getItem('cart') == null) {
            var cart = {};

            cart.total_item = [0];
        }
        else {
            cart = JSON.parse(localStorage.getItem('cart'));
            document.getElementById('cart').innerHTML = cart.total_item[0];
        }

        // Cart click function where n click it adds items in cart
        $('.cart').click(function () {

            var idstr = this.id.toString();
            if (cart[idstr] != undefined) {
                cart[idstr][0] = cart[idstr][0] + 1;
            }
            else {
                var qty = 1;
                var name = document.getElementById("name" + idstr).innerHTML;
                var price = document.getElementById("price" + idstr).innerHTML;
                cart[idstr] = [qty, name, price];
            }
            if (cart.total_item != undefined) {
                cart.total_item[0] = cart.total_item[0] + 1;
            }
            else {
                cart.total_item = [1];
            }
            update_popcart(cart);
            update_cart_qty(idstr, cart);
            document.getElementById('cart').innerHTML = cart.total_item[0];
            localStorage.setItem('cart', JSON.stringify(cart));

            //console.log(cart.total_item[0]);
        });
        console.log(cart);

        // on click on add to cart show qty option
        function update_cart_qty(idstr, cart) {
            document.getElementById('qty' + idstr).innerHTML = "<button id='minus" + idstr + "'class='btn btn-primary minus'>-</button>" +
                "<span id='val" + idstr + "'>  " + cart[idstr][0] + "  </span>" + "<button id='plus" + idstr + "'class = 'btn btn-primary plus'>+</button>";

        };

        // action on clicking minus
        $('.qtybutton').on('click', "button.minus", function () {
            var btn_id = this.id.slice(5,);
            if (cart[btn_id][0] == 0) {
                return;
            }
            cart[btn_id][0] = cart[btn_id][0] - 1;
            cart[btn_id][0] = Math.max(cart[btn_id][0], 0);
            cart.total_item[0] = cart.total_item[0] - 1;
            cart.total_item[0] = Math.max(cart.total_item[0], 0);
            update_popcart(cart);
            update_cart_qty(btn_id, cart);
            document.getElementById('cart').innerHTML = cart.total_item[0];
            if (cart[btn_id][0] == 0) {
                delete cart[btn_id];
            }
            localStorage.setItem('cart', JSON.stringify(cart));
            //console.log(cart); 

        });


        // action on clicking plus
        $('.qtybutton').on('click', "button.plus", function () {
            var btn_id = this.id.slice(4,);
            if (cart.btn_id == undefined) {
                var qty = 1;
                var name = document.getElementById("name" + btn_id).innerHTML;
                var price = document.getElementById("price" + btn_id).innerHTML;
                cart[btn_id] = [qty, name, price];
            }
            else {
                cart[btn_id][0] = cart[btn_id][0] + 1;
            }
            cart.total_item[0] = cart.total_item[0] + 1;

            update_popcart(cart);
            update_cart_qty(btn_id, cart);
            document.getElementById('cart').innerHTML = cart.total_item[0];
            localStorage.setItem('cart', JSON.stringify(cart));
            console.log(cart);

        });

    </script>
    {% endblock %}